{% extends 'base.html' %}


{% block contents %}

<!-- Page Content -->
<div class="container">

    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">모든 레시피</p>
    </div>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

        <!-- /.col-md-4 -->

        <table class="table table-striped">
            <thead>
            <tr>             
            </tr>
            </thead>
            <tbody>
            {% for i in alls %}
            <tr>
                <td><img class="rounded ml-5 m-2"src="{{i.완성사진.url}}" width="200"></td>
                <td>
                    <h4 class="text-center mt-3">{{i.이름}}</h4>
                    <p class="mt-5 ml-2">재료 : {{i.재료}}</p>
                </td>
                <td><br/><br/>
                    {% if i.이름 == "<간단한> 마늘빵 만들기" %}
                    <a href="{% url 'recipe1Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "수미네반찬 카레" %}
                    <a href="{% url 'recipe2Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "핫 오므라이스 만들기" %}
                    <a href="{% url 'recipe3Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "스팸마요덮밥" %}
                    <a href="{% url 'recipe4Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "인기반찬 김치찌개" %}
                    <a href="{% url 'recipe5Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "레전드 된장찌개" %}
                    <a href="{% url 'recipe6Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "식빵위에 알록달록 피자가~!!" %}
                    <a href="{% url 'recipe7Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                    {% if i.이름 == "보들보들 돈까스덮밥" %}
                    <a href="{% url 'recipe8Page' %}" class="btn btn-warning text-white float-right mt-5">레시피 보기</a>
                    {% endif %}
                </td>
            </tr>
           {% endfor %}
            <tbody>
        </table>
    
    </div>
    <!-- /.row -->

    

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}