{% extends 'base.html' %}


{% block contents %}

<!-- Page Content -->
<div class="container">

    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">이번달 BEST!</p>
    </div>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{{homes.1.완성사진.url}}" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light">{{homes.1.이름}}</h1>
            <p class=mt-5>재료 : {{homes.1.재료}}</p>
            <br>
            <a class="btn btn-warning text-white float-right mt-5" href="{% url 'recipe2Page' %}">레시피 보기</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <br/>
    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0">이번주 BEST!</p>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-lg-15">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{homes.0.완성사진.url}}" alt="">
                    </div>
                    <h4 class="card-title my-1 text-center mt-3 ">{{homes.0.이름}}</h4>
                    <p class="card-text">{{homes.0.재료}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'recipe1Page' %}" class="btn btn-warning text-white float-right btn-sm">레시피 보기</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-lg-15">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{homes.2.완성사진.url}}" alt="">
                    </div>
                    <h4 class="card-title my-1 text-center mt-3">{{homes.2.이름}}</h4>
                    <p class="card-text">{{homes.2.재료}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'recipe3Page' %}" class="btn btn-warning text-white float-right btn-sm">레시피 보기</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div class="col-lg-15">
                        <img class="img-fluid rounded mb-4 mb-lg-0" src="{{homes.3.완성사진.url}}" alt="" >
                    </div>
                    <h4 class="card-title my-1 text-center mt-3">{{homes.3.이름}}</h4>
                    <p class="card-text">{{homes.3.재료}}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'recipe4Page' %}" class="btn btn-warning text-white float-right btn-sm">레시피 보기</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}