{% extends 'base.html' %}


{% block contents %}


<!-- Page Content -->
<div class="container">

    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">레시피</p>
    </div>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

        <!-- /.col-md-4 -->

        <table class="table table-striped">
            <thead>
            <tr>             
            </tr>
            </thead>
            <tbody>
            {% for i in recipes  %}
            <tr>
                <td><img class="rounded ml-5 m-2"src="{{i.완성사진.url}}" width="200"></td>
                <td>
                    <h4 class="text-center mt-3">{{i.이름}}</h4>
                    <p class="mt-5 ml-2">재료 : {{i.재료}} </p>
                    <?=$_POST[position]?>
                </td>
                <td><br/><br/>
                    {% if i.이름 == "<간단한> 마늘빵 만들기" %}
                    <form method="get" action="">
                        <a class="btn btn-warning text-white float-right mt-5" href="##">레시피 보기</a>
                    </form>
                    {% endif %}
                    <form method="get" action="">
                        <a class="btn btn-warning text-white float-right mt-5" href="">레시피 보기</a>
                    </form>

                    <form action="{% url 'recipePage' %}" method="GET">
                        <input name="position" type="hidden" value="1">
                        <input class="btn btn-warning text-white float-right mt-5" type="submit" value="레시피 보기">
                    </form>


                </td>
            </tr>
           {% endfor %}
            <tbody>
        </table>
    
    </div>
    <!-- /.row -->

    

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}