{% extends 'base.html' %}


{% block contents %}


<!-- Page Content -->
<div class="container">

    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">완성사진</p>
    </div>

    <div class="text-center">
    <img class="rounded ml-5 m-2" src="{{recipes6.5.완성사진.url}}" >
    </div>


    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">레시피</p>
    </div>

    <div class="text-center">
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피1_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피1}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피2_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피2}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피3_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피3}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피4_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피4}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피5_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피5}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피6_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피6}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피7_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피7}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피8_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피8}}</h4>
        <br/><br/>
        <img class="rounded ml-5 m-2" src="{{recipes6.5.레시피8_사진.url}}" width="500" >
        <h4 class="m-0 font-weight-normal">{{recipes6.5.레시피8}}</h4>
        <br/><br/>
    </div>



</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}