{% extends 'base.html' %}


{% block contents %}

<!-- Page Content -->
<div class="container">

    </br>
    <div class="card text-white bg-secondary my-5 py-1 text-center">
        <p class="text-white m-0 font-weight-normal">모든 레시피</p>
    </div>

    <!-- Heading Row -->
    <div class="row align-items-center my-5">

        <!-- /.col-md-4 -->

        <table class="table table-striped">
            <thead>
            <tr class="text-center">
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in mains %}
            <tr>
                <td>
                    <p class="mt-3 ml-3">{{i.제목}}</p>
                </td>
                <td>
                    <p class="mt-3 text-center">{{i.작성자}}</p>
                </td>
                <td>
                    <p class="mt-3 text-center">{{i.작성일}}</p>
                </td>
                <td>
                    <a href="{% url 'recipe1Page' %}" class="btn btn-warning text-white text-center mt-2">공지 보기</a>
                </td>
            </tr>
           {% endfor %}
            <tbody>
        </table>
    
    </div>
    <!-- /.row -->

    

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}